---
import type { CollectionEntry } from 'astro:content';
import type {} from '../types';

export interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

<div
  class="flex flex-col w-80 lg:w-64 rounded-lg overflow-hidden mx-auto bg-slate-600"
>
  <img
    src={`/projects/${project.slug}/${project.data.thumbnail}`}
    alt={project.data.thumbnailAlt}
    class="w-full aspect-square object-cover"
  />
  <div class="p-8">
    <h3>
      <a
        href={`${
          project.data.blogUrl ||
          project.data.previewUrl ||
          project.data.githubUrl
        }`}>{project.data.title}</a
      >
    </h3>
    <p>{project.data.description}</p>
  </div>
</div>
